@font-face{
    font-family: 'Gibson-Regular';
    src: url('../fonts/Gibson-Regular-webfont.eot');
    src: url('../fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gibson-Regular-webfont.woff') format('woff'),
    url('../fonts/Gibson-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Gibson-Regular-webfont.svg#webfont') format('svg');
}

body {
    padding-top: 10px;
}